@font-face{
    src: url(fonts/gotham_medium.otf);
    font-family: Custom_font;
}

body{
    font-family: "Custom_font", "Consolas", "Times New Roman";
    margin: 0;
}
header{    
    background-color: #171C30;
    padding: 20px;
}
.header-title{   
    color: #e7db34;     
    display: inline-block;
    text-align: right;
    box-shadow: 5px 5px 5px rgb(232, 232, 114);
    border-radius: 12px; 
    padding: 2px;   
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.header-title h1{
    padding-right: 10px;
    padding-left: 10px;
}

main{
    display: flex;   
}
.all_info {        
    max-width: 80%;
    display: flex;
    flex-direction: column;
}
.main_info {    
    display: flex;      
}

article{        
    text-align: center;
    background-color: #242E49;                                           
}
.justice-map{     
    background-color: #242E49;               
    position: sticky;
    top: 0;       
}
.justice-map img:hover{    
    box-shadow: 3px 3px 10px white;    
}
.sentence{
    text-align: left;
    display: flex;
    flex-direction: column;
    color: yellow;
    font-size: 20px;
    padding: 20px;
}
.sentence img{
    float: left;
    margin: 15px;
    width: 100px;
    box-shadow: 3px 3px 6px rgb(255, 255, 134);
}
.quote{
    padding-top: 20px;
    padding-bottom: 20px;
}
.author{
    text-align: right;
}
.author::before{
    content: "- ";
}


section{    
    padding-top: 2%;       
    background-color: #e6d9d5;         
    display: flex;
    flex-direction: column;           
}
section div{    
    padding-inline: 10%;     
}
.comic-page{       
    border: 2px solid black;
    width: 100%;    
}
.floating-image-left{
    width: 200px;
    float: left; 
    margin-right: 20px; 
    margin-bottom: 10px;
}
.floating-image-right{
    width: 200px;
    float: right; 
    margin-left: 20px;
    margin-bottom: 10px;
}
.character{
    margin-top: 5%;
    background-color: #e9bbab;    
    border-top: 1px solid black;       
}
.character img{
    width: 200px;    
    float: right;
    margin-left: 40px; 
    margin-bottom: 10px;
}
.character dt{  
    width: 50%;
    border: 1px solid black;
    border-radius: 5px; 
    padding: 2px; 
    font-weight: bold;   
}
.character dd{            
    margin-bottom: 20px;    
}

aside{
    background-color: #B5182D; 
    font-size: 15px;
    color: white;    
    padding: 2%;  
}
aside a{
    color: white;
}

.menu{
    background-color: #242E49;
    width: 20%;
}
nav{
    background-color: #242E49;    
    width: 100%;    
    border: 1px double yellow;  
    border-radius: 15px;  
    box-shadow: 3px 3px 9px rgb(232, 232, 139);
    display: flex;    
    flex-direction: column; 
    position: sticky;
    top: 0;   
}
nav a{           
    padding: 15px;
    border-radius: 15px;
    padding-left: 5%;       
    color: white;          
    text-decoration: none;            
}
nav a:hover{
    color: yellow;
    background-color: #39435C;
    border: 1px pink;    
}
nav a:hover::before{
    content: "⨳ ";   
}
nav .current{
    color: yellow;
    border: 1px pink;   
}
nav .current:hover::before{
    content: "※ ";    
}
nav .current::before{
    content: "※ ";    
}

footer{        
    clear: both;
    background-color: #171C30;
    padding: 20px;
}
.footer-title{   
    color: #e7db34;     
    display: inline-block;      
    box-shadow: 5px -5px 5px rgb(232, 232, 114);
    border-radius: 12px;
    padding: 2px;
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
}
.footer-title h1{
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (max-width: 960px){
    .main_info{
        flex-direction: column;
    }                   
    .character{        
        text-align: center;
    }
    .character img{        
        float: none;
        margin-left: 0;
    }
    nav a:hover::before{
        content: none;   
    }
    nav .current::before{
        content: none;    
    }
    nav .current:hover::before{
    content: none;    
    }
}

@media screen and (max-width: 500px){
    .justice-map{
        position: relative;
    }
    nav{
        margin-top: 208px;
    }
}